{extend name='template/layout'}
{block name='content'}
<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("User/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{:url('User/save')}" method="post" name="myfrom" >
                <input type="hidden" name="id" value="{$data.id}">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">用户等级名</label>
                    <div class="col-sm-9">
                        <select class="col-xs-10 col-sm-5" name="user_grade_id" />
                        {volist name='grade' id='vo'}
                            <option value="{$vo.id}" {if condition="$vo.id eq $data.user_grade_id"}selected{/if}>{$vo.name}</option>
                        {/volist}
                        </select>
                    </div>
                </div>
                <div class="space-4"></div>
                {if condition="isset($message['user_grade_id'])"}
                <label for="input-user_grade_id" class="text-danger">{$message['user_grade_id']}</label>
                {/if}

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">用户名</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="name" value="{$data.name}"/>
                    </div>
                </div>
                <div class="space-4"></div>
                {if condition="isset($message['name'])"}
                <label for="input-name" class="text-danger">{$message['name']}</label>
                {/if}

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">用户真实名</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="user_name" value="{$data.user_name}"/>
                    </div>
                </div>
                <div class="space-4"></div>
                {if condition="isset($message['user_name'])"}
                <label for="input-user_name" class="text-danger">{$message['user_name']}</label>
                {/if}


                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 密码 </label>

                    <div class="col-sm-9">
                        <input type="password" name="password" placeholder="Password"  class="col-xs-10 col-sm-5" value="{$data.password}"/>
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                {if condition="isset($message['password'])"}
                <label for="input-password" class="text-danger">{$message['password']}</label>
                {/if}

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">身份证号</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="id_number" value="{$data.id_number}"/>
                    </div>
                </div>
                <div class="space-4"></div>
                {if condition="isset($message['id_number'])"}
                <label for="input-id_number" class="text-danger">{$message['id_number']}</label>
                {/if}

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">电话</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="tel" value="{$data.tel}"/>
                    </div>
                </div>
                <div class="space-4"></div>
                {if condition="isset($message['tel'])"}
                <label for="input-tel" class="text-danger">{$message['tel']}</label>
                {/if}

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">邮箱</label>
                    <div class="col-sm-9">
                        <input type="email" class="col-xs-10 col-sm-5" name="email" value="{$data.email}"/>
                    </div>
                </div>
                <div class="space-4"></div>
                {if condition="isset($message['tel'])"}
                <label for="input-tel" class="text-danger">{$message['tel']}</label>
                {/if}


                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">性别</label>
                    <div class="col-sm-9">
                        <input type="radio"  name="sex" value="0" checked />男
                        <input type="radio"  name="sex" value="1"{if condition="$data['sex'] eq 1"}checked{/if}/>女
                    </div>
                </div>
                <div class="space-4"></div>
                {if condition="isset($message['sex'])"}
                <label for="input-sex" class="text-danger">{$message['sex']}</label>
                {/if}

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">密码问题</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="pw_question" value="{$data.pw_question}"/>
                    </div>
                </div>
                <div class="space-4"></div>
                {if condition="isset($message['pw_question'])"}
                <label for="input-pw_question" class="text-danger">{$message['pw_question']}</label>
                {/if}

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">密码答案</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"   name="pw_answer" value="{$data.pw_answer}"/>
                    </div>
                </div>
                <div class="space-4"></div>
                {if condition="isset($message['pw_answer'])"}
                <label for="input-pw_answer" class="text-danger">{$message['pw_answer']}</label>
                {/if}

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">省市区</label>
                    <select name="province" id="province" >>
                        <option value="0" selected>省份/直辖市</option>
                        {volist name="province" id="vo"}
                        <option value="{$vo.region_id}" {if condition="$vo.region_id eq $data['province']"}selected{/if}>{$vo.region_name}</option>
                        {/volist}
                    </select>
                    <select name="city" id="city" >
                        <option value="0">市/县</option>
                        {volist name="city" id="vo"}
                        <option value="{$vo.region_id}" {if condition="$vo.region_id eq $data['city']"}selected{/if}>{$vo.region_name}</option>
                        {/volist}
                    </select>
                    <select name="area" id="area">
                        <option value="0">镇/区</option>
                        {volist name="area" id="vo"}
                        <option value="{$vo.region_id}" {if condition="$vo.region_id eq $data['area']"}selected{/if}>{$vo.region_name}</option>
                        {/volist}

                    </select>


                    <div class="space-4"></div>




                    <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">详细地址</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="addr" value="{$data.addr}"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" onclick="myfrom.submit()">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            提交
                        </button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            重置
                        </button>
                    </div>
                </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script src="__STATIC__/admin/ace1.4/assets/js/jquery-2.1.4.min.js"></script>
<script>
    $(function () {
        $("#province").change(function () {
            $('#city option:gt(0)').remove();
            var data = {parent_id:$(this).val()};
            $.post("{:url('user/city')}",data,function (r) {
                for(var o in r){
                    $('#city').append('<option value="'+r[o].region_id+'">'+r[o].region_name+'</option>');
                }
            },'json')
        })
        $("#city").change(function () {
            $('#area option:gt(0)').remove();
            var data = {parent_id:$(this).val()};
            $.post("{:url('user/area')}",data,function (r) {
                console.log(r);
                for(var o in r){
                    $('#area').append('<option value="'+r[o].region_id+'">'+r[o].region_name+'</option>');
                }
            },'json')
        })

    })
</script>
{/block}