{extend name='template/layout'}
{block name='content'}
<div class="page-content">
    <div class="col-sm-6 pull-right">
    </div>
    <div class="page-header">
        <h1>
            用户评论管理
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" />
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th class="detail-col">序号</th>
                            <th>评论类型</th>
                            <th>文章/商品id</th>
                            <th class="hidden-480">Email</th>
                            <th class="hidden-480">评论内容</th>
                            <th>评分</th>
                            <td>评论时间</td>
                            <th>用户ip</th>
                            <th>状态</th>
                            <th>用户id</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        {volist name = 'list' id='val'}
                        <tr>
                            <td class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" />
                                    <span class="lbl"></span>
                                </label>
                            </td>
                            <td>{$val.id}</td>
                            <td>{$val.comment_type===0?'商品':'文章'}</td>
                            <td>{$val.id_value}</td>
                            <td class="hidden-480">{$val.email}</td>
                            <td>{$val.content}</td>

                            <td class="hidden-480">
                                <span class="label label-sm label-warning">{$val.comment_rank}</span>
                            </td>
                            <td>{$val.add_time | date='Y-m-d H:i:s',###}</td>
                            <td>{$val.ip_address}</td>
                            <td>{$val.status===0?'未批准':'已批准'}</td>
                            <td>{$val.user_id}</td>
                            <td>
                                <div class="hidden-sm hidden-xs btn-group">

                                    {if condition="$val['status'] eq 0"}
                                    <a href='{:url("UserComment/edit",["id"=>$val.id])}'>
                                    <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                    </a>
                                    {/if}
                                    <a href='javascript:void(0)' onclick="return alert_del('{:url("del",["id"=>$val.id])}', '确认要删除『id={$val.id}  』这条记录吗？');">
                                    <span class="btn btn-xs btn-danger">
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                    </a>

                                </div>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>

                </div><!-- /.span -->
            </div><!-- /.row -->

            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{$page->render()}
{/block}