{extend name='template/layout'}
{block name='content'}
<div class="page-content">

    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = 'save'">
            添加
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            管理员列表
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                展示信息
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" />
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th class="detail-col">序号</th>
                            <th>用户名</th>
                            <th>所属组</th>
                            <th>最后登录IP</th>
                            <th>邮箱</th>
                            <th>
                                <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                最后登录时间
                            </th>
                            <th>真实姓名</th>
                            <th>管理员操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        {volist name="lists" id="vo"}
                        <tr>
                            <td class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" />
                                    <span class="lbl"></span>
                                </label>
                            </td>
                            <td>{$vo.id}</td>
                            <td><a href="#">{$vo.admin_name}</a></td>
                            <td>{$vo.group_id}</td>
                            <td>{$vo.last_login_ip}</td>
                            <td>{$vo.email}</td>
                            <td>{:date('Y-m-d H:i:s',$vo['last_login_time'])}</td>

                            <td class="hidden-480">
                                <span class="label label-sm label-warning">{$vo.realname}</span>
                            </td>
                            <td>

                                <div class="hidden-sm hidden-xs btn-group">

                                    <a href='{:url("save","id=$vo[id]")}'>
                                    <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                    </a>
                                    <a href='javascript:void(0)' onclick="return alert_del('{:url(\"del\",\"id=$vo[id]\")}','确认要删除『 id={$vo.id} 』这条记录吗？');">
                                    <span class="btn btn-xs btn-danger">
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                    </a>

                                </div>

                            </td>

                        </tr>
                        {/volist}
                        </tbody>
                    </table>

                </div><!-- /.span -->
            </div><!-- /.row -->

            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{/block}